@page "/"
@using HtmlAgilityPack
@using Recipe_Finder
@using System.Text.Json
@inject IHttpClientFactory ClientFactory
@inject APIClass API
@inject NavigationManager NavigationManager
@inject ScrapperService Scrap

<PageTitle>Home</PageTitle>

<h1>Recipe Finder!</h1>

<div>
    <EditForm Model="searchModel" OnValidSubmit="SearchForRecipe">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="searchQuery">Search any recipe here! :</label>
            <br />
            <InputText id="searchQuery" class="form-control" @bind-Value="searchModel.Query" placeholder="Search Recipe!!!" />
        </div>
        <br />

        <button class="btn btn-outline-primary" type="submit">Search For Recipe</button>
    </EditForm>
</div>

@if (recipes != null && recipes.Any())
{
    @foreach (var recipe in recipes)
    {
        <div>
            <h4>@recipe.RecipeName</h4>
            <img src="@recipe.Image" alt="Recipe Image" />
            <p>@recipe.CuisineType , @recipe.CookingTime , @recipe.DifficultyLevel , @recipe.OccasionTags</p>
            <p>@recipe.ListofIngredients</p>
            <p>@recipe.CookingInstructions</p>
        </div>
    }
}
else if (recipes != null)
{
    <p>No recipes found</p>
}

@code {
    private SearchModel searchModel = new SearchModel();
    private List<Recipe> recipes = new List<Recipe>();

    public class SearchModel
    {
        public string Query { get; set; } = string.Empty;
    }

    private async Task SearchForRecipe()
    {
        recipes = await Scrap.ScrappingOnAllRecipe(searchModel.Query);

        StateHasChanged();
    }
}
