@page "/"
@using HtmlAgilityPack
@using Recipe_Finder
@inject ScrapperService Scrap
@inject NavigationManager Navigation


<PageTitle>Home</PageTitle>

<h1>Recipe Finder!</h1>

<div>
    <EditForm Model="@searchQuery" FormName="RecipeForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="RecipeName">Search any recipe here! :</label>
            <br />
            <InputText id="RecipeName" class="form-control" @bind-Value="searchQuery" placeholder="Search Recipe!!!" />
        </div>
        <br />
        <label for="cuisine">Search recipe by Cuisine Type : </label><br />
        <InputSelect @bind-Value="recipe.CuisineType">
            @foreach (var type in Enum.GetValues(typeof(CuisineType)))
            {
                <option value="@type">@type</option>
            }
        </InputSelect><br />

        <label>Difficulty Level:</label><br />
        <InputSelect @bind-Value="recipe.DifficultyLevel">
            @foreach (var level in Enum.GetValues(typeof(DifficultyLevel)))
            {
                <option value="@level">@level</option>
            }
        </InputSelect><br />

        <label>Occasion Tags:</label><br />
        <InputSelect @bind-Value="recipe.OccasionTags">
            @foreach (var tag in Enum.GetValues(typeof(OccasionTags)))
            {
                <option value="@tag">@tag</option>
            }
        </InputSelect><br />
        <button class="btn btn-outline-primary" @onclick="SearchForRecipeOnAllRecipe">Search For Recipe on AllRecipes</button>
        <button class="btn btn-outline-primary" @onclick="SearchForRecipeFromCK">Search For Recipe on ChefKoch</button>
        <button class="btn btn-outline-primary" @onclick="SearchAndDisplayRandomRecipes">Search and Display Random Recipes</button>
    </EditForm>
</div>

@if (recipes.Count > 0)
{
    <ol>
        @foreach (var rec in recipes)
        {
            <li>
                @if (!string.IsNullOrEmpty(rec.Image))
                {
                    <img src="@rec.Image" alt="Recipe Image" style="width: 100px; height: 100px;" />
                }
                <br />
                <a href="@rec.Url" target="_blank">@rec.RecipeName</a><br />
                <a @onclick="() => NavigateToRecipeDetails(rec.Url)" style="cursor: pointer;">@rec.RecipeName</a>
            </li>
        }
    </ol>
}
else if (!string.IsNullOrEmpty(searchQuery))
{
    <p>No results found for "@searchQuery".</p>
}

@code {
    private List<Recipe> recipes { get; set; } = new List<Recipe>();
    private Recipe recipe { get; set; } = new Recipe();
    private string searchQuery { get; set; } = string.Empty;

    private async Task SearchForRecipeOnAllRecipe()
    {
        recipes = await Scrap.ScrappingOnAllRecipe(searchQuery);
    }

    private async Task SearchForRecipeFromCK()
    {
        recipes = await Scrap.ScrapeCKRecipies(searchQuery);
    }

    private async Task SearchAndDisplayRandomRecipes()
    {
        var allRecipes = await Scrap.ScrapeSearchResultsFromChefkoch(searchQuery);
        recipes = Scrap.GetRandomRecipes(allRecipes);
    }


    private void NavigateToRecipeDetails(string recipeUrl)
    {
        Navigation.NavigateTo($"/recipedetails?url={Uri.EscapeDataString(recipeUrl)}");
    }
}
