@page "/recipecomponent"
@using RecipeFinder_WebApp.Components

<PageTitle>recipecomponent</PageTitle>

<h1>Recipe Search</h1>

<div class="alert alert-secondary mt-4" style="border: thin solid black; margin: 5px">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>
    <EditForm Model="recipe">
    <span class="text-nowrap">
        <br />
            <label for="RecipeName">Search recipe by Name : </label>
            <InputText id="RecipeName" @bind-Value="recipe.RecipeName"></InputText>

        <br />
            <label for="CuisineType">Search recipe by Cuisine Type : </label>

            <InputText id="CuisineType" @bind-Value="recipe.CuisineType"></InputText>

        <br />
        <div>
            <label>Difficulty Level:</label>
            <InputSelect @bind-Value="recipe.DifficultyLevel" class="form-control">
                @foreach (var level in Enum.GetValues(typeof(DifficultyLevel)))
                {
                    <option value="@level">@level</option>
                }
            </InputSelect>
        </div>
        <br />
        <br />
        <div>
            <label>Occasion Tags:</label>
            <InputSelect @bind-Value="recipe.OccasionTags" class="form-control">
                @foreach (var tag in Enum.GetValues(typeof(OccasionTags)))
                {
                    <option value="@tag">@tag</option>
                }
            </InputSelect>
        </div>
        <br />
    </span>
    </EditForm>
</div>

<button class="btn btn-primary" @onclick="SearchForRecipe">Click To Search For Recipe! ! !</button>

<SearchRecipe Recipes="searchResults"></SearchRecipe>

@code {
    [Parameter]
    public string Title { get; set; }
    private Recipe_Finder.Recipe recipe { get; set; } = new Recipe_Finder.Recipe();
    private List<Recipe_Finder.Recipe> searchResults { get; set; } = new List<Recipe_Finder.Recipe>();

    private void SearchForRecipe()
    {
        
        searchResults = DataService.SearchRecipes(recipe);
        StateHasChanged();
    }


}
