@using RecipeFinder_WebApp
@using Recipe_Finder
@using System.IO
@inject ApplicationDbContext DbContext
@inject NavigationManager Navigation


<EditForm Model="UserProfile" OnValidSubmit="RegisterUser" FormName="RegisterForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="FirstName">First Name:</label><br />
        <InputText id="FirstName" @bind-Value="UserProfile.FirstName" />
        <ValidationMessage For="@(() => UserProfile.FirstName)" />
    </div>

    <div>
        <label for="LastName">Last Name:</label><br />
        <InputText id="LastName" @bind-Value="UserProfile.LastName"  />
        <ValidationMessage For="@(() => UserProfile.LastName)" />
    </div>

    <div>
        <label for="Email">Email:</label><br />
        <InputText id="Email" @bind-Value="UserProfile.Email"/>
        <ValidationMessage For="@(() => UserProfile.Email)" />
    </div>

    <div>
        <label for="Password">Password:</label><br />
        <InputText type="password" id="Password" @bind-Value="UserProfile.Password" />
        <ValidationMessage For="@(() => UserProfile.Password)" />
    </div>

    <div>
        <label for="ConfirmPassword">Confirm Password:</label><br />
        <InputText type="Password" id="ConfirmPassword" @bind-Value="UserProfile.Password"  />
        <ValidationMessage For="@(() => UserProfile.Password)" />
    </div>

    <div>
        <label for="StreetName">Street Name:</label><br />
        <InputText id="StreetName" @bind-Value="UserProfile.Address.StreetsName" />
        <ValidationMessage For="@(() => UserProfile.Address.StreetsName)" />
    </div>

    <div>
        <label for="HouseNumber">House Number:</label><br />
        <InputText id="HouseNumber" @bind-Value="UserProfile.Address.Housenumber"/>
        <ValidationMessage For="@(() => UserProfile.Address.Housenumber)" />
    </div>

    <div>
        <label for="PostalCode">Postal Code:</label><br />
        <InputText id="PostalCode" @bind-Value="UserProfile.Address.PostalCode"/>
        <ValidationMessage For="@(() => UserProfile.Address.PostalCode)" />
    </div>

    <div>
        <label for="City">City:</label><br />
        <InputText id="City" @bind-Value="UserProfile.Address.City" />
        <ValidationMessage For="@(() => UserProfile.Address.City)" />
    </div>

    <button type="submit">Register</button>
</EditForm>
@code {
    [Parameter]
    public string Title { get; set; }

    private UsersProfile UserProfile { get; set; } = new UsersProfile();
    private Address Address { get; set; } = new Address();


    private List<UsersProfile> users { get; set; } = new List<UsersProfile>();

    private async Task RegisterUser()
    {
        // Add user to the database
        DbContext.UsersProfiles.Add(UserProfile);
        await DbContext.SaveChangesAsync();

        Navigation.NavigateTo("/profile");

        // Reset form
        // UserProfile = new UsersProfile();
        // Console.WriteLine("User registered successfully.");

    }
}


